<% layout('../layout') -%>
<h1>Plasma Prototype</h1>
<hr class="space-after">
<div class="card">
	<h4 class="card-header">Ethereum</h4>
	<div class="card-body">
		<!--span class="text-muted">No transactions yet</span-->
		<ul class="list-group">
			<li class="list-group-item list-group-item-primary">
				<div class="row">
					<div class="col-md-auto">
						<div class="text text-muted">
							10/14/2017 17:00:00
						</div>
					</div>
					<div class="col">
						<div class="text">
							0x0000000000000000000000000000000000000001
						</div>
					</div>
					<div class="col-md-auto">
						<div class="text">
							<i class="fa fa-arrow-circle-down"></i> 0.1 Ether
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item list-group-item-success">
				<div class="row">
					<div class="col-md-auto">
						<div class="text text-muted">
							10/14/2017 17:00:00
						</div>
					</div>
					<div class="col">
						<div class="text">
							0x0000000000000000000000000000000000000001
						</div>
					</div>
					<div class="col-md-auto">
						<div class="text">
							<i class="fa fa-arrow-circle-up"></i> 0.1 Ether
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-lg btn-primary btn-block" id="btn-deposit"><i class="fa fa-arrow-circle-down"></i> Deposit</button>
			</div>
		</div>
	</div>
</div>
<hr class="space-after">
<div class="card">
	<h4 class="card-header">Plasma</h4>
	<div class="card-body">
		<ul class="list-group">
			<li class="list-group-item list-group-item-primary">
				<div class="row">
					<div class="col-md-auto">
						<div class="text text-muted">
							10/14/2017 17:00:00
						</div>
					</div>
					<div class="col">
						<div class="text">
							0x0000000000000000000000000000000000000001
						</div>
					</div>
					<div class="col-md-auto">
						<button type="button" class="btn btn-info btn-block" id="btn-send-offchain"><i class="fa fa-paper-plane"></i> Send Transaction</button>
					</div>
					<div class="col-md-auto">
						<button type="button" class="btn btn-success btn-block" id="btn-withdraw"><i class="fa fa-arrow-circle-up"></i> Withdraw</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>